@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

footer  {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px; 
    height: 100px;
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прикрепляем к нижней части */
    left: 0; /* Прикрепляем к левому краю */
    width: 100%; /* Растягиваем на всю ширину */
}
